

.container{
    max-width: 500px;
    border: 3px solid black;
    display: flex;
}

.item{
    background-color: #DE2D10;
    color: black;
    text-align: center;
    margin: 5px;
}

.bAuto{
    flex-basis: auto;
}

.fg-0{
    flex-grow: 0;
}


.fg-1{
    flex-grow: 1;
}
.fg-2{
    flex-grow: 2;
}
.b-0{
    flex-basis: 0;
}

.ws-100{
    flex-basis: 100px;
}